.header {
  background-color: black;
  padding: 16px;

  /* relative fixed */
  position: sticky;
  top: 0;
  /* left: 0;
  right: 0; */
  
  /* flex-direction: row; */
  /* width: 100%; */

  z-index: 99;
}
